{% extends 'base.html' %} {% block body %}
<div class="form">
  <h2 class="title">BMI Calculator</h2>
  <form action="#" method="post">
    <div class="mb-3">
      <label for="height" class="form-label">Height (in cm)</label>
      <input type="number" class="form-control" id="height" name="height" />
    </div>
    <div class="mb-3">
      <label for="weight" class="form-label">weight (in kg)</label>
      <input type="number" class="form-control" id="weight" name="weight" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% block result %}{% endblock result %} {% endblock body %}
