 {% extends 'base.html' %}

 {% block title %}
 Edu-Content
 {% endblock title %}

{% block stylesheet %}
{% endblock stylesheet %}



 
 {% block body %}
<div class="edu">
<h1>General Health Related Educational Content</h1>
<h2>Environmental Health</h2>
<p>Environmental health includes the following topic areas: causes and prevention of environmental pollution, including air, water, soil, radiation, noise and solid waste; recycle, reuse and reduce; effects of environment on health; environmental protection agencies; population growth; world health; and legislation and policies to provide healthy environments.</p>
<h2>Family Life</h2>
<p>Family life includes the following topic areas: family structure, extended families and interpersonal relationships; gender roles and stereotypes; marriage; divorce; contraception and family planning; the reproductive process; prenatal care; heredity; parenting; “latch-key” kids; domestic and sexual abuse; and child care skills and responsibilities.</p>
<h2>Growth and Development</h2>
<p>Growth and development includes the following topic areas: stages of life, including childhood, adolescence, young adulthood, middle age and old age; death and dying; aging and growth patterns including sexual development; adolescent development including physical, mental, social and emotional issues; sexual orientation; learning styles; and developmental tasks.
</p>

</div>
 
 {% endblock body %}

